{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "globals": {
    "document": true,
    "navigator": true,
    "window": true,
    "node": true
  },
  "extends": ["airbnb-base"],
  "plugins": ["@typescript-eslint/eslint-plugin", "import"],
  "rules": {
    "semi": ["error", "never"],
    "no-multiple-empty-lines": ["error", { "max": 1 }]
  }
}
