@import 'tailwindcss';

.VPDoc table {
  display: table;
  width: 100%;
}

@media (max-width: 768px) {
  .VPDoc table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

.VPDoc table th:first-child,
.VPDoc table td:first-child {
  white-space: nowrap;
}

.VPDoc h2 {
  border: none;
  margin-top: 0;
}

.VPDoc h3 {
  margin-bottom: 1rem;
}

.VPDoc hr {
  margin: 2rem 0;
}
